body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(242, 87, 113);
}
button {
  border-radius: 20px;
  border: none;
  background-color: white;
  width: 100px;
  height: 60px;
  font-size: 20px;
}
#People-checklist {
  width: 80%;
  height: fit-content;
  background-color: black;
}
#Pant-randomizer {
  width: 80%;
  height: fit-content;
  background-color: black;
}
